fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
jinja2
fastapi-utils
typing-inspect
psycopg2-binary
python-jose
python-jose[cryptography] 
python-multipart
pydantic-settings
passlib[bcrypt]
aiosmtplib
paddle-python-sdk
utils
authlib
httpx
jose
itsdangerous
anyio



